{
  "presets": [
    "stage-0",
    "react-app"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": true
      }
    ],
  ]
}